.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.kb-80vw {
  --kb-width: 80vw;
}

.kb-50vw {
  --kb-width: 50vw;
}

.kb-20vw {
  --kb-width: 20vw;
}

.keyboard-wrapper {
  --kb-height: calc(var(--kb-width) * 0.19);
  padding: 2em;
  background-color: darkslategrey;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}


.kb-slider {
  padding: 1em;
  width: var(--kb-width);
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.keyboard {
  --kb-white-width: calc(var(--kb-width) / (7 * 3) - 2px);
  --kb-black-width: calc(var(--kb-white-width) * 0.5);
  --kb-black-height: calc(var(--kb-height) * 0.63);
  --kb-black-inset: calc(-1 * var(--kb-black-width) / 2 - 1px);
  --kb-bracket-inset: calc(1 * var(--kb-black-width) / 2);
  --kb-key-rad: calc(var(--kb-white-width) * 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 1em;
  margin-bottom: 1em;
  width: var(--kb-width);
  height: var(--kb-height);
}

.key {
  font-family: Helvetica;
  font-weight: 100;
  font-size: 12px;
  border: 1px solid rgba(32, 32, 32, 0.2);
  border-radius: 0px 0px var(--kb-key-rad) var(--kb-key-rad);
  cursor: pointer;
  box-shadow: 0px 5px 1px rgba(32, 32, 32, 0.2);
  -webkit-transition: background-color 0.07s ease,
    box-shadow 0.05s ease;
  transition: background-color 0.07s ease,
    box-shadow 0.05s ease;
}


.black {
  background-color: rgb(32, 32, 32);
  color: #ffffff;
  z-index: 1;
  text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.5);
  width: var(--kb-black-width);
  height: var(--kb-black-height);
  margin-left: var(--kb-black-inset);
  margin-right: var(--kb-black-inset);
}

.white {
  background-color: #ffffff;
  color: rgb(32, 32, 32);
  z-index: 0;
  text-shadow: 0px 1px 1px rgba(32, 32, 32, 0.5);
  height: var(--kb-height);
  width: var(--kb-white-width);
}

.white, .black {
  --tone-sat: 40%;
  --tone-lt: 65%;
}

.white.lighten,
.black.lighten {
  --tone-sat: 50%;
  --tone-lt: 90%;
}

.key-bracket {
  --tone-sat: 50%;
  --tone-lt: 85%;
}

.tone-color-1 {
  --tone-color: hsl(120, var(--tone-sat), var(--tone-lt));
  background-color: var(--tone-color);
}

.tone-color-2 {
  --tone-color: hsl(300, var(--tone-sat), var(--tone-lt));
  background-color: var(--tone-color);
}

.bracket-color-1 {
  --tone-color: hsl(120, var(--tone-sat), var(--tone-lt));
}

.bracket-color-2 {
  --tone-color: hsl(300, var(--tone-sat), var(--tone-lt));
}

.key-bracket {
  height: 2em;
  margin-top: -2.4em;
  display: flex;
  justify-content: center;
  visibility:hidden;
  margin-left: -1px;
  margin-right: -1px;
}

.key-bracket.left {
  margin-left: 1px;
}

.key-bracket.right {
  margin-right: 1px;
}

.note-C > .key-bracket,
.note-D > .key-bracket,
.note-F > .key-bracket,
.note-G > .key-bracket,
.note-A > .key-bracket {
  margin-right: var(--kb-bracket-inset);
}

.note-D > .key-bracket,
.note-E > .key-bracket,
.note-G > .key-bracket,
.note-A > .key-bracket,
.note-B > .key-bracket {
  margin-left: var(--kb-bracket-inset);
}

.key-bracket.left {
    visibility:visible;
    border-left: 1px solid var(--tone-color);
}

.key-bracket.right {
    visibility:visible;
    border-right: 1px solid var(--tone-color);
}

.key-bracket.middle {
    visibility:visible;
    border-top: 1px solid var(--tone-color);
}

.key-bracket-label {
  text-align: center;
  background-color: var(--tone-color);
  height: fit-content;
  color:#292f3b;
  text-shadow: none;
  font-size: 0.9em;
  padding: 1px;
}

.key-bracket-label:empty {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #292f3b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
